/* == Navbar CSS ==  */

#navbar{
    /* height: 13vh; */
    align-items: center;
    background-color: white;
}

.logo {
    display: inline-block;
    padding-top: .3125rem;
    /* padding-bottom: .312rem; */
    /* margin-right: 1rem; */
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    width: 200px;
}

    
#nav_contents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#search_bar{
    margin-left: -100px;
    width: 40vw;  
}

#search_btn{
    float: left;
    width: 20%;
    padding: 10px;
    background:rgba(76, 0, 252, 0.809);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }

  /* .user-profile_img{
      margin-top: -5px;
   border: 2px solid red;
   height: 80px;
    width: 50px; 
    border-radius: 50%; 
    background-image: url(/profile.jpg);  
    position: relative;
    right: 0;
    left: 450px;
    background-color: aqua;
  } */

 @media only screen and (max-width: 1070px) {

    #navbar{
     display: inline;;
    }

    .logo {
      margin-right: 90px;
    }
     #search_bar{
    margin-left: -180px;
     
}
  }

@media only screen and (max-width: 350px){

    .logo{
        display: block;
        margin: auto;
    }

    #search_bar{
        display: block;
        margin: auto;
    }
    
#nav_contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}

/* == Page Container CSS == = */

#container{
margin: 0px;
padding: 0px;
overflow-y: scroll;
}
#containe::-webkit-scrollbar {
    display: none;
}

#container {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }

/* == Menu Items CSS == */

#page-container{
    display: grid;
    grid-template-columns: 2fr 10fr;
    /* grid-template-areas: 
    'aside aside aside aside'
    'secton section section section' 
  ; */

}

  #menu_items{
    background-color: rgba(76, 0, 252, 0.809);
}

  .dashboard-p{
    padding-top: 90px;
    padding-left: 12px;     
    color: white;
  }

  #menu_dropdown{
      display: block;
      margin-left: -20px;
    
  }

  #menu_dropdown li{
      list-style: none;
      color: white;
  }
  #menu_dropdown li a{
      color: rgba(255, 255, 255, 0.761);
      font-size: 1rem;
      padding-right: 3px; 
  }

  #menu_dropdown li a:hover{
      color: black;
  }

  @media only screen and (max-width:1100px)  {

    #page-container{
   
       display: inline;
       text-align: center;  
    }
    #menu_dropdown li {   
        font-size: 1.5rem; 
    }
    #menu_dropdown li a{   
        font-size: 1.5rem; 
    }
  
    }


  /* = Page-contebt Section CSS = */


#page-heading{
    margin-top: 90px;
}

.email-input_form{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    
}


#input_email{
    width: 300px;
    
}
@media only screen and (max-width:1100px){
    #page-heading{
        margin-top: 40px;
    }

    .input-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .email-input_form{
        margin-top: 20px;
        align-items: center;
        justify-content: center;
    }

}

@media only screen and (max-width: 370px){
    .dashboard-p{
        padding-top: 120px;     
       
      }
      #menu_dropdown li{
       text-align: left;
       font-size: 1rem;
    }
    #menu_dropdown li a{
        text-align: left;
        font-size: 1rem;
     }
    }

#bg-color{
    background-color: rgba(76, 0, 252, 0.809);
    color: white;
}
